form {
    width: 100%;
    max-width: 499px;
    text-align: center;
    border: solid 1px #c2c2c2;
    padding-bottom: 10px;
    margin: auto;
    background: black;
    height: 400%;
  }
  body{
    background:url(b.jpg) 0 0 no-repeat;
  }
input[type=button], input[type=reset] {
    background-color: aqua;
    border: none;
    color:blue;
    padding: 16px 32px;
    font-size: 16px;
    min-width: 21%;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
input[type=button]:hover, input[type=reset]:hover {
  background-color: #333;
}
.historia{
    width: 99%;
    height: 50px;
    position: relative;;
}
#cal_text{
    width: 99%;
    text-align: center;
}
